<div class="card border-0  rounded-0">
    <div class="card-header bg-white">
        <p class="fw-bold mt-2">{{conversation?.name}}</p>
    </div>
    <div class="card-body bg-light" id="lateral">

    </div>
    <div class="card-footer bg-white">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Enviar</button>
        </div>          
    </div>
</div>