<div class="card border-0  rounded-0">
    <div class="card-header bg-white">
        <p class="fw-bold mt-2">{{conversation?.name}}</p>
    </div>
    <div class="card-body bg-light" id="lateral">
      <div class="message-group-receive">
          <div>
             <ul>
                 <li *ngFor="let item of conversation?.message">
                    <span>{{item.pivot.content}}</span>
                 </li>
             </ul>
          </div>
      </div>
    </div>
    <div class="card-footer bg-white">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="" [formControl]="inputMessage">
            <button class="btn btn-primary" type="button" [disabled]="!inputMessage.value" id="" (click)="sendMessage()">Enviar</button>
        </div>          
    </div>
</div>