<div class="card">
    <div class="card-header bg-white">
        <p class="font-weight-bold mt-2">jaskdansjkdbsdj</p>
    </div>
    <div class="card-body" id="lateral">

    </div>
    <div class="card-footer">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
        </div>          
    </div>
</div>